body {
  color: gray;
  text-align: center;
  font-size: 16px;
  font-family: "Courier New", Courier, monospace;
  margin: 0;
  padding: 0;
}
#header {
  background: #33a;
  color: white;
  margin: 0;
  font-weight: bold;
  padding: 0.5em;
  box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.5);
}
#container {
  width: 70%;
  padding: 1em;
  text-align: left;
  border: 1px solid #ddd;
  margin: 0 auto;
}
#container h1 {
  font-size: 20px;
}

#footer {
  background: #777;
  color: white;
  text-align: center;
  padding: 0.5em;
}
